<div>
  <button type="button" class="btn btn-icon btn-primary" (click)="createIpTable()">
    <clr-icon shape="plus"></clr-icon>
    Create
  </button>
  <button type="button" class="btn btn-icon btn-primary" [disabled]="selectedIpTable === null"
    (click)="editIpTable(selectedIpTable)">
    <clr-icon shape="note"></clr-icon>
    Edit
  </button>
  <button type="button" class="btn btn-icon btn-danger" [disabled]="selectedIpTable === null"
    (click)="deleteIpTable(selectedIpTable)">
    <clr-icon shape="thrash"></clr-icon>
    Delete
  </button>
</div>
<clr-datagrid (clrDgRefresh)="refresh($event)" [(clrDgSingleSelected)]="selectedIpTable" [clDgRowSelection]="true" [clrDgLoading]="loadingData">
  <clr-dg-placeholder>No Records Available</clr-dg-placeholder>

  <clr-dg-column [clrDgField]="'ipAddress'">IPv4 Address</clr-dg-column>
  <clr-dg-column [clrDgField]="'hostName'">Host Name</clr-dg-column>

  <clr-dg-row *ngFor="let ipTable of ipTables" [clrDgItem]="ipTable">
    <clr-dg-cell>{{ipTable.ipAddress}}</clr-dg-cell>
    <clr-dg-cell>{{ipTable.hostName}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination
      [clrDgPageSize]="5"
      [clrDgTotalItems]="totalElements">
    </clr-dg-pagination>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{totalElements}}
  </clr-dg-footer>
</clr-datagrid>

<app-ip-table-create-or-update-modal
  [ipTable]="editableIpTable"
  [modalOpened]="createOrEditModalOpened"
  [operationInProgress]="operationInProgress"
  (save)="onSave($event)"
  (cancel)="onCreateOrUpdateCanceled()">
</app-ip-table-create-or-update-modal>

<clr-modal [(clrModalOpen)]="deleteConfirmationModalOpened" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title">Confirm Deletion</h3>
  <div class="modal-body">
    Are you sure you want to delete {{selectedIpTable?.ipAddress}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="deleteConfirmationModalOpened = false">
      Cancel
    </button>
    <button type="button" class="btn btn-icon btn-danger" [clrLoading]="operationInProgress"
      (click)="confirmDeletion(selectedIpTable)">
      <clr-icon shape="thrash"></clr-icon>
      Delete
    </button>
  </div>
</clr-modal>
