<clr-modal [(clrModalOpen)]="modalOpened" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{ ipTable.id ? 'Edit' : 'Create' }} an IP table record</h3>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label class="required">IPv4 Address</label>
        <label for="ipAddress" aria-haspopup="true" role="tooltip"
          class="tooltip tooltip-validation tooltip-sm"
          [ngClass]="{ 'invalid': !!ipAddress.errors }">
          <input type="text" id="ipAddress" name="ipAddress"
            required [pattern]="ipAddressPattern"
            placeholder="Enter IPv4 Address" size="45" [(ngModel)]="ipTable.ipAddress" #ipAddress="ngModel">
            <span class="tooltip-content">
              {{ ipAddress.errors?.required ? 'IPv4 Address is required' : ''}}
              {{ ipAddress.errors?.pattern ? 'Invalid IPv4 Address' : ''}}
            </span>
        </label>
      </div>
      <div class="form-group">
        <label class="required">Host Name</label>
        <label for="hostName" aria-haspopup="true" role="tooltip"
          class="tooltip tooltip-validation tooltip-sm"
          [ngClass]="{ 'invalid': !ipTable.hostName }">
          <input type="text" id="hostName" name="hostName" required
            placeholder="Enter Host Name" size="45" [(ngModel)]="ipTable.hostName" #hostName="ngModel">
            <span class="tooltip-content">
              Host Name is required
            </span>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="cancel.next(ipTable)">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" [clrLoading]="operationInProgress"
      (click)="save.next(ipTable)"
      [disabled]="!ipTable.hostName || !ipTable.ipAddress">
      Save
    </button>
  </div>
</clr-modal>
