<div class="container">
  <clr-alert [clrAlertType]="(alert$ | async)?.alertType" [(clrAlertClosed)]="alertClosed">
    <div class="alert-item">
      <span class="alert-text">
        {{ (alert$ | async)?.message }}
      </span>
    </div>
  </clr-alert>
  <app-ip-table></app-ip-table>
</div>
